.hero {
    background-color: hsl(256, 26%, 20%);
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
}

.hero img {
    width: 100%;
}

.heroImageDesktop {
    display: none;
}

.heroIntro {
    padding: 6rem 1.5rem;
    position: relative;
}

.heroIntro:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 10rem;
    width: 100%;
    background: url("../../assets/images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.heroIntro:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -22rem;
    height: 100%;
    width: 7.5rem;
    background: url("../../assets/images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.heroIntro p {
    margin: 2rem 0;
}

@media screen and (min-width: 376px) {
    .hero {
        display: flex;
        justify-content: center;
        position: relative;
        text-align: left;
    }

    .heroIntro {
        width: 45%;
        padding: 12rem 1rem ;
    }
    
    .heroIntro:before, .heroIntro:after {
        display: none;
    }
    
    .heroIntro p {
        margin: 2rem 0;
    }

    .hero:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -12rem;
        height: 60%;
        width: 20%;
        background: url("../../assets/images/bg-pattern-intro-left-desktop.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .hero:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 28%;
        background: url("../../assets/images/bg-pattern-intro-right-desktop.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hero img {
        width: auto;
        top: 12rem;
        position: relative;
    }

    .heroImageMobile {
        display: none;
    }

    .heroImageDesktop {
        display: block;
    }
}