.whyUs {
    text-align: center;
    padding: 7rem 1.5rem 0 1.5rem;
}

.whyUs hr {
    width: 40%;
    margin: auto;
}

.whyUs h1 {
    margin-top: 2.5rem;
}

@media screen and (min-width: 500px) {
    .whyUs {
        padding: 17rem 8rem 0;
        text-align: left;
    }

    .whyUs hr {
        width: 10%;
        margin: 0;
    }

    .card {
        display: flex;
        justify-content: space-between;
    }

    .mainCard {
        width: 30%;
    }
}